/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS...declare a variable with `--` syntax
:root {
    --light: #fff;
    --navlink-color: #b9c6ae;
  }*/

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    font-size: 100%;
    text-align: center;
  }
  
  input,
  select,
  option,
  optgroup,
  textarea,
  button,
  pre,
  code {
    font-size: 100%;
    font-family: inherit;
  }
  
  ol,
  ul {
    list-style: none;
  }

  #quiz-container {
    margin-top: 20px;
  }

  #question {
    margin-bottom: 10px;
  }

  #choices {
    list-style-type: none;
    padding: 0;
  }

  #choices button {
    display: block;
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
  }

  #feedback {
    margin-top: 10px;
    font-weight: bold;
  }

  #timer {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
  }

  #score-container {
    margin-top: 20px;
  }

  #high-scores {
    list-style-type: none;
    padding: 0;
  }

  #high-scores li {
    margin-bottom: 5px;
  }